.DS_Store
/reports
/__pycache__
/mytests/__pycache__
/compile_logs
*.qcow2
*.ppm
buttontest/image_converted.png
buttontest/inactive_titlebar_system7_converted.png
/m68k
/ppcshaver
/pyhelpers/__pycache__
