.DS_Store
/reports
/__pycache__
/mytests/__pycache__
/compile_logs
*.qcow2
*.ppm
buttontest/image_converted.png
buttontest/inactive_titlebar_system7_converted.png
/m68k
/ppcshaver
/pyhelpers/__pycache__
buttontest/finder_window_closebutton_converted.png
tmpfloppydisk.img
/sourcedir/mac_m68k/__pycache__
/sourcedir/pacific_c/__pycache__
/sourcedir/template_4screen/__pycache__
/sourcedir/test1/__pycache__
/sourcedir/pacific_c/output
/sourcedir/owc_builder/owcv2
*.pyc
